[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = salesforce-agent[mcp]>={current_version}
replace = salesforce-agent[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = salesforce-agent[agent]>={current_version}
replace = salesforce-agent[agent]>={new_version}

[bumpversion:file:salesforce_agent/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:salesforce_agent/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:salesforce_agent/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:a2a.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
